<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="https://suptwitter.herokuapp.com/">SupTwitter app</a>
  is a project for <a href="http://paris.labo-web.com/">Supinfo's Web dev lab </a>
   made with <a href="http://rubyonrails.org/">Ruby 2 and Rails 4</a> which currently are the lastest versions available.
</p>
<p>
	The technologies covered in this app represent the <em>state of the art</em> in web development. </br>
	these include:
	<ul>
		<li><strong>HTML, Css frameworks: </strong>HTML5/CSS3, Sass, Bootstrap, templating( Embedded Ruby)</li>
		<li><strong>Databases: </strong> PostgreSql for prodcution, Sqlite for development</li>
		<li><strong>Javascript: </strong>Asynchrnous Javascript (AJAX), Jquery,</li>
		<li><strong>Testing: </strong>TDD/BDD(Test/Behavior Driven Developement) with Guard/Spork (Rspec) and Capybara </li>
	</ul>

	
</p>