<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  if you have any questions related to the app <em>(the team behind it or its implementation for instance)</em>, please Contact us at: <a href="mailto:contact@suptwitter.com">contact@suptwitter.com</a> (<em>This email is of course fictional</em>)
</p>