<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
if you have any questions or suggestions, please get in touch with our support team  at: <a href="mailto:support@suptwitter.com">support@suptwitter.com</a> and they'll be glad to help you with your request.
</p>